.aboutForm {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.aboutText {
    width: 95%;
    margin: auto 0;
    align-self: center;
}

.aboutText p {
    margin: 0;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.375em;
    line-height: 1.4;
}

.emphasis {
    display: inline;
    color: red;
}

.chart {
    width: 95%;
    margin: auto 0;
    align-self: center;
    /* visibility: hidden; */
}

tspan {
    font-size: 0.8rem;
    font-weight: 700;
}
