.aboutForm {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.aboutText {
    width: 95%;
    margin: auto 0;
    align-self: center;
}

.centerAbout {
    display: flex;
    flex-direction: column;
}

.centerAbout hr {
    width: 80vw;
    border: 0;
    height: 2px;
    background-color: rgb(167, 165, 165);
    margin: 2.5rem auto 2.5rem auto;
}

.centerAbout img {
    width: 10rem;
    height: 10rem;
    margin-right: 10px;
}

.aboutText p {
    margin: 0;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.375em;
    line-height: 1.4;
}

.emphasis {
    display: inline;
    color: red;
}

.chart {
    width: 95%;
    margin: auto 0;
    align-self: center;
    /* visibility: hidden; */
}

tspan {
    font-size: 0.8rem;
    font-weight: 700;
}
